<form class="project-form">
    <div>
      <label class="input-field" for="name">Name:
      <input #name list="names" id="name" name="name">
    </label>
      <span>&nbsp;</span> 
      <span>&nbsp;</span> 
      <span>&nbsp;</span> 
      <span>&nbsp;</span> 
      <span>&nbsp;</span> 
      <label class="input-field">Stack:
        <input #stack>
      </label>
      <span>&nbsp;</span> 
      <span>&nbsp;</span>
      <span>&nbsp;</span> 
      <span>&nbsp;</span> 
      <span>&nbsp;</span> 
      <span>&nbsp;</span> 
      <label class="input-field">Description:
        <input #description />
      </label>
      <span>&nbsp;</span> 
      <span>&nbsp;</span> 
      <span>&nbsp;</span> 
      <span>&nbsp;</span>
      <span>&nbsp;</span> 
      <span>&nbsp;</span> 
      <label class="input-field">Start date:
        <input #start_date style="width: 90px"/>
      </label>
      <span>&nbsp;</span> 
      <span>&nbsp;</span> 
      <span>&nbsp;</span> 
      <span>&nbsp;</span> 
      <span>&nbsp;</span> 
      <span>&nbsp;</span> 
      <button class = "button" (click)="createProject(name.value, stack.value, description.value, start_date.value)">
        Add
      </button>
    </div>
</form>

