<html>
<script src="jquery-3.4.1.min.js"></script>
<br />
<h2 style="margin-left: 55px;"> Projects </h2>
<h2 style="margin-left: 1010px;"> Stacks </h2>


<div>
  <app-project-form (getProjects)="getProjects()" [stacks]="stack_data" style="float:left; margin-left: 55px;"></app-project-form>
  <app-stack-form (getStacks)="getStacks()" style="float:right; margin-right: 85px;"></app-stack-form>  
</div>

<br/>
<br/>
<br/>
<br/>
<br/>

<div class="wrapper;">
<br/>
<table style="width:55%; float: left; margin-right: 120px; margin-left: 55px;">
  <tr>
    <th style="text-align:center">ID</th>
    <th style="text-align:center">Name</th>
    <th style="text-align:center">Stack</th>
    <th style="text-align:center">Description</th>
    <th style="text-align:center">Start Date</th>
    <th style="text-align:center">Edit</th>
  </tr>
  <tr *ngFor="let Array of data">
    <td style="text-align:center; width: 5%">{{Array.projectId}}</td>
    <td style="width: 22%;"> <textarea [(ngModel)]="Array.name" placeholder="Name"></textarea></td>
    <td style="width: 22%;"> <textarea [(ngModel)]="Array.stack" placeholder="Stack"></textarea></td>
    <td style="width: 33%;"> <textarea [(ngModel)]="Array.description" placeholder="Description"></textarea></td>
    <td style="width: 14%;"> <textarea [(ngModel)]="Array.start_date" placeholder="Start date"></textarea></td>
    <td style="width: 7%;"><button class = "button" (click)="deleteProject(Array)">Delete</button><span>&nbsp;</span> 
    <button class = "button" (click)="updateProject(Array)">Update</button></td>
  </tr>
</table>
<table style="width:30%; float: left;">
  <tr>
    <th style="text-align:center">Name</th>
    <th style="text-align:center;">Stack</th>
    <th style="text-align:center">Edit</th>
  </tr>
  <tr *ngFor="let stack_array of stack_data">
    <td style="width: 35%; height:60%;"> <textarea [(ngModel)]="stack_array.name" placeholder="Name"></textarea></td>
    <td style="width: 55%; height:60%;"> <textarea [(ngModel)]="stack_array.stack" placeholder="Stack"></textarea></td>
    <td style="width: 15%;"><button class = "button" (click)="deleteStack(stack_array)">Delete</button><span>&nbsp;</span> 
    <button class = "button" (click)="updateStack(stack_array)">Update</button></td>
  </tr>
</table>
</div>
</html>