<form class="resource-form" action="http://localhost:8096/frameworks" method="POST">
    <div>
      <label class="input-field">Definition name:
        <span>&nbsp;</span> 
        <span>&nbsp;</span> 
        <input class="input1" #name />
      </label>
      <span>&nbsp;</span> 
      <span>&nbsp;</span> 
      <span>&nbsp;</span> 
      <span>&nbsp;</span> 
      <span>&nbsp;</span> 
      <span>&nbsp;</span> 
      <label class="input-field">Info:
        <span>&nbsp;</span> 
        <span>&nbsp;</span> 
        <input class="input2" #info />
      </label>
      <span>&nbsp;</span> 
      <span>&nbsp;</span> 
      <span>&nbsp;</span> 
      <span>&nbsp;</span> 
      <span>&nbsp;</span> 
      <span>&nbsp;</span> 
      <button class="button" (click)="createDefinition(name.value, info.value)">
        Add
      </button>
    </div>
</form>
