html {

  background: #F6F6F6;
}

p {

    padding: 0 0 1.3rem;
    margin: 0;
    font-size: 1.3rem;
    color: black;
    margin-left: 11.6rem;
    margin-right: auto
  }

  
  h2 {

    padding: 0 0rem 0rem;
    font-size: 2.1rem;
    color: black;
    margin-left: 213px;
    margin-right: auto

  }
  
  h3 {

    font-size: 1.5rem;
    color: black;
    margin-left: 11.4rem;
    margin-right: auto;
  }
  
  h4 {
  
    padding: 1.5rem 2.5rem;
    font-size: 1rem;
    color: black;

  }

  .wrapper {

    text-align: center;
  }

  table {

    width: 100%;
    margin-left: 90px;
    margin-right: auto;
    display: inline-block;
  }

  table, th, td {

    background-color: white;
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 1.4rem;
    color: black;
  }

  th, td {

    padding: 5px;
    text-align: left;    
  }

  td {

    width:300px;
    height:140px;
  }

  th {

    width:200px;
  }

  textarea {

    border: none; 
    background-color: white;
    width: 300px;
    height:140px;
    font-size: 1.4rem;
    color: black;
    resize: none;
 }

  .button {
  
    background-color: white;
    border: none;
    color: black;
    box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 1.4rem;
    border-radius: 10px;
    width: 170px;
    margin-right: auto
  }
  
  .button:hover {
  
    box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
    transform: translate3D(0, -2px, 0);
  }

  form {
    margin-left: 10rem;
    background: #F6F6F6;
    display: inline-block;
    position: absolute;
    text-align: center;
  }

  
  label {

    padding: 0 0rem 0rem;
    font-size: 1.4rem;
    color: black;
    margin-left: auto;
    margin-right: 2rem
  }

  input {

    width: 300px;
    font-size: 1.4rem;
    color: black;
    resize: none;
 }
