<html>
<h2> Languages </h2>
<h3>
<div>
</div>
</h3>  
<div class="wrapper">
<table style="width:80%">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Url</th>
    <th>Description</th>
    <th>Delete</th>
    <th>Update</th>
  </tr>
  <tr *ngFor="let Array of data">
    <td>{{Array.languageId}}</td>
    <td style="width: 120px;"> <textarea [(ngModel)]="Array.name" placeholder="Name"></textarea></td>
    <td style="width: 120px;"> <textarea [(ngModel)]="Array.url" placeholder="Url"></textarea></td>
    <td style="width: 120px;"> <textarea [(ngModel)]="Array.description" placeholder="Description"></textarea></td>
    <td style="width: 30px;"><button class = "button" (click)="deleteLanguage(Array)">Delete</button></td>
    <td style="width: 30px;"><button class = "button" (click)="updateLanguage(Array)">Update</button></td>
  </tr>
</table> 
</div>
<app-language-form (getLanguages)="getLanguages()"></app-language-form>
</html>