<html>
<h2> Languages </h2>
<h3>
</h3>  
<div class="wrapper">
<table style="width:80%">
  <tr>
    <th style="text-align:center">ID</th>
    <th style="text-align:center">Name</th>
    <th style="text-align:center">Url</th>
    <th style="text-align:center">Description</th>
    <th style="text-align:center">Delete</th>
    <th style="text-align:center">Update</th>
  </tr>
  <tr *ngFor="let Array of data">
    <td style="text-align:center">{{Array.languageId}}</td>
    <td style="width: 120px;"> <textarea [(ngModel)]="Array.name" placeholder="Name"></textarea></td>
    <td style="width: 120px;"> <textarea [(ngModel)]="Array.url" placeholder="Url"></textarea></td>
    <td style="width: 120px;"> <textarea [(ngModel)]="Array.description" placeholder="Description"></textarea></td>
    <td style="width: 30px;"><button class = "button" (click)="deleteLanguage(Array)">Delete</button></td>
    <td style="width: 30px;"><button class = "button" (click)="updateLanguage(Array)">Update</button></td>
  </tr>
</table> 
</div>
<app-language-form (getLanguages)="getLanguages()"></app-language-form>
</html>