<form class="stack-form">
    <div>
      <label class="input-field" for="name">Name:
      <input #name list="names" id="name" name="name" style="width: 380px;">
    </label>
      <span>&nbsp;</span> 
      <span>&nbsp;</span> 
      <span>&nbsp;</span> 
      <span>&nbsp;</span> 
      <span>&nbsp;</span> 
      <span>&nbsp;</span> 
      <script src="jquery.js"></script>
      <button class = "button" (click)="createStack(name.value, stack.value)">
        Add
      </button>
      <br/>
      <br/>
      <label class="input-field">Stack:
        <input #stack id="stacks" required style="width: 490px;">
      </label>
      <span>&nbsp;</span> 
      <span>&nbsp;</span> 
      <span>&nbsp;</span> 
      <span>&nbsp;</span> 
      <span>&nbsp;</span> 
      <span>&nbsp;</span> 
    </div>
</form>

