 
  .input-field {
  
    font-size: 1.4rem;
    color: black;
  }
  
  select {
      
    background-color: white;
    width: 180px;
    font-size: 1.4rem;
    color: black;
    resize: none;
  }
  
   input {
      
    background-color: white;
    width: 180px;
    font-size: 1.4rem;
    color: black;
    resize: none;
  }
 
   .button {
    
    background-color: white;
    border: none;
    color: black;
    box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 1.4rem;
    border-radius: 10px;
    width: 80px;
    margin-right: auto;
    margin-top: 5px;
  }
  
  .button:hover {
  
    box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
    transform: translate3D(0, -2px, 0);
  }
  